{% extends "layout.twig" %}
{% block local %}Cadastrar novo produto{% endblock %}

{% block content %}
    <div class="jumbotron">
        Cadastrar Produto
        <table class="table table-striped">
            <thead>
            <tr>
                <th>NOME</th>
                <th>DESCRIÇÃO</th>
                <th>VALOR</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <form action="{{ path('inserir') }}" method="post">
                    <td><input type="text" name="nome"></td>
                    <td><input type="text" name="descricao"></td>
                    <td><input type="text" name="valor"></td>
                    <td>
                        <input type="hidden" id="id" name="id" />
                        <a href=""><button class="btn btn-success " type="submit" name="cadastrar" >Cadastrar</button></a>
                    </td>
                </form>
            </tr>
            </tbody>
        </table>
        <a href="{{ path('index') }}"><button class="btn btn-info " type="submit" name="voltar" >Voltar</button></a>
    </div><!-- /jumbotron -->
{% endblock %}